<div class="card my-2">
  <div class="card-header">
    <h5 class="m-0" *ngIf="mode == formMode.ADD">Add new client</h5>
    <h5 class="m-0" *ngIf="mode == formMode.EDIT">Edit client</h5>
  </div>
  <div class="card-body">
    <form *ngIf="!!client">
      <div class="form-row">
        <div class="col-md-12">
          <app-input-field [inputField]="uniqueNameInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <app-input-field [inputField]="fullNameInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
        <div class="col-md-6">
          <app-input-field [inputField]="emailInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <app-input-field [inputField]="langInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
        <div class="col-md-6">
          <app-input-field [inputField]="nipInput" [model]="client" [error]="error" [loaded]="loaded"></app-input-field>
        </div>
      </div>
      <div class="form-group">
        <app-input-field [inputField]="addressInput" [model]="client" [error]="error"
                         [loaded]="loaded"></app-input-field>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <app-input-field [inputField]="phoneNumberInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
        <div class="col-md-4">
          <app-input-field [inputField]="countryInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
        <div class="col-md-4">
          <app-input-field [inputField]="postalCodeInput" [model]="client" [error]="error"
                           [loaded]="loaded"></app-input-field>
        </div>
      </div>
    </form>
  </div>
</div>
