thead tr:nth-child(1) th {
  border-top: 0px;
  border-bottom: 0px;
}

table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #f7f7f7;
  min-width: 350px;
}

th:after,
th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

th:after {
  bottom: 0;
  /*border-bottom: 1px solid black;*/
}

.highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5', GradientType=0);
  background-color: #79bbff;
}

.selector-column {
  min-width: 40px !important;
}

.left-column-border {
  border-left: 1px solid #dee2e6;
}

.bottom-tbody-border {
  border-bottom: 1px solid #dee2e6;
}

.highlight > .left-column-border {
  border-left: none;
}

.table-sm th, .table-sm td {
  padding: 0.2rem 0.3rem;
}
