<div class="card my-2" *ngIf="mode == formMode.ADD">
  <div class="card-header">
    <h5 class="m-0">Add new user</h5>
  </div>
  <div class="card-body">
    <form *ngIf="!!modelAdd">
      <div class="form-row">
        <div class="col-md-12">
          <app-input-field [inputField]="usernameInput" [model]="modelAdd" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <app-input-field [inputField]="passwordInput" [model]="modelAdd" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card my-2" *ngIf="mode == formMode.EDIT">
  <div class="card-header">
    <h5 class="m-0">Edit user</h5>
  </div>
  <div class="card-body">
    <form *ngIf="!!model">
      <div class="form-row">
        <div class="col-md-12">
          <app-input-field [inputField]="usernameInput " [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
    </form>
  </div>
</div>
