<div *ngIf="active">
  <div class="modal fade show" style="display: block;" [ngStyle]="{'z-index' : modalStructure.zIndex}">
    <div class="modal-dialog modal-dialog-centered" [ngClass]="{'modal-lg': !!larger && larger}"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{tittle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-template appModal *ngIf="modalStructure.modal.mode === mode.FORM"></ng-template>
          <div *ngIf="modalStructure.modal.mode !== mode.FORM">
            <p *ngIf="!!modalStructure.modal.info">{{modalStructure.modal.info}}</p>
            <p *ngIf="!!modalStructure.modal.additionalInfo">{{modalStructure.modal.additionalInfo}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" *ngIf="modalStructure.modal.mode === mode.FORM" (click)="saveForm()">Save</button>
          <button type="button" class="btn btn-primary" *ngIf="modalStructure.modal.mode === mode.DIALOG" (click)="modalStructure.modal.agreeFunction()">Agree</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [ngClass]="{'btn-danger' : modalStructure.modal.mode === mode.ERROR}" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" [ngStyle]="{'z-index' : modalStructure.zIndex - 1}"></div>
</div>

