<div class="card my-2">
  <div class="card-header">
    <h5 class="m-0" *ngIf="mode == formMode.ADD">Add new car</h5>
    <h5 class="m-0" *ngIf="mode == formMode.EDIT">Edit car</h5>
  </div>
  <div class="card-body">
    <form *ngIf="!!model">
      <div class="form-row">
        <div class="col-md-12">
          <app-input-field [inputField]="brandInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <app-input-field [inputField]="modelInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <app-input-field [inputField]="typeInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
        <div class="col-md-6">
          <app-input-field [inputField]="fuelTypeInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <app-input-field [inputField]="vinInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
        <div class="col-md-6">
          <app-input-field [inputField]="plateNumberInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <app-input-field [inputField]="productionDateInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
        <div class="col-md-6">
          <app-input-field [inputField]="registerDateInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <app-input-field [inputField]="engineCapacityInput" [model]="model" [error]="error" [loaded]="isLoaded"></app-input-field>
        </div>
      </div>
    </form>
  </div>
</div>
