<div class="row">
  <div class="col-12 px-0 m-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="createSampleData()">Utwórz przykładowe dane</button>
  </div>
</div>
<div class="row">
  <div class="col-12 px-0 m-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="doAction()">Wykonaj akcję</button>
  </div>
</div>
<div class="row">
  <div class="col-12 px-0 m-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="checkData()">Sprawdź dane</button>
  </div>
</div>

