<form *ngIf="loaded">
  <div class="form-row">
    <div class="col-md-12">
      <app-input-field [inputField]="carInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <app-input-field [inputField]="startRentInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
    <div class="col-md-6">
      <app-input-field [inputField]="endRentInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <app-input-field [inputField]="startMileageInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
    <div class="col-md-6">
      <app-input-field [inputField]="endMileageInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <app-input-field [inputField]="priceInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
    <div class="col-md-6">
      <app-input-field [inputField]="fuelInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <app-input-field [inputField]="currencyInput" [model]="orderService" [error]="error"
                       [loaded]="loaded"></app-input-field>
    </div>
  </div>
</form>
